<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Designer</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <!-- main css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

<body>
    <div class="wrapper">
        <!-- navbar start -->
        <section class="header">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <div class="container-fluid">
                    <a href="#" class="navbar-brand text-danger a2">Eram Perwez</a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#nvbr">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="nvbr">
                        <span class="mr-auto"></span>
                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="#" class="nav-link text-success"><b><u>Home</u></b></a></li>
                            <li class="nav-item"><a href="login" class="nav-link">Login</a></li>
                            <li class="nav-item"><a href="register" class="nav-link">Register</a></li>
                            <li class="nav-item"><a href="contact" class="nav-link">Contact Us</a></li>

                        </ul>
                    </div>
            </nav>
            </nav>
        </section>

        <!-- banner start -->
        <section>
            <div class="banner bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 d1">
                            <h1 class="text">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I<br>&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;am<br><span
                                    class="text-info text1">&nbsp;&nbsp;&nbsp;&nbsp;Web Designer</span></h1>
                        </div>
                        <div class="col-md-4 offset-2 d2">
                            <img src="eram.jpg" class="img-fluid img-thumbnail img"
                                style="height:400px; width: 290px; margin-top: -60px;">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- team -->
        <section class="c1" style="margin-top: -70px;">
            <div class="container">
                <h1 class="meet text-center">Meet Our Teams</h1>
                <div class="row">

                    <div class="col-md-4">
                        <div class="team">
                            &nbsp;&nbsp;&nbsp;<img src="mike_kus.jpg"
                                style="width: 90px; height: 90px; border-radius: 100px;">
                            <h1 style="font-size: 20px; margin-top: 10px;">Mike Kus</h1>
                            <p class="font-size: 17px;">Web Designer</p>
                            <p class="text-muted">Really, it was just a matter of sketching ideas and words, and
                                thinking about what is at the heart of the design process. I was looking for words that
                                make up the content of the heart illustration. It’s really that marriage with the
                                strapline that tells a story.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team">
                            &nbsp;&nbsp;&nbsp;<img src="Shane_Mielke.jpg"
                                style="width: 90px; height: 90px; border-radius: 100px;">
                            <h1 style="font-size: 20px; margin-top: 10px;">Eram Perwez</h1>
                            <P class="font-size: 17px;">CEO</P>
                            <p class="text-muted">Shane Mielke is something of a unicorn in the digital design world. An
                                exceptional developer and designer, he (amazingly) got to the pinnacle of both fields
                                with zero classical training and even less pretension?</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team">
                            &nbsp;&nbsp;&nbsp;<img src="Jina Anne.jpg"
                                style="width: 90px; height: 90px; border-radius: 100px;">
                            <h1 style="font-size: 20px; margin-top: 10px;">Jina Anne</h1>
                            <p class="font-size: 17px;">Junior Designer</p>
                            <p class="text-muted">At Salesforce, Jina was lead designer on the Lightning Design System.
                                She also lead the overall Salesforce UX community and evangelism efforts, by acting as
                                Editor-in-Chief for the Salesforce UX blog.She founded the Design Systems Coalition and
                                its inaugural chapter, the San Francisco Design System Coalition.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- social partner -->
        <section class="c1">
            <div class="container"><br>
                <h1 class="meet text-center">Social Partner</h1><br><br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="social-team">
                            <img src="google.jpg" class="img-fluid mx-auto d-block" style="width: 180px; height: 50px;">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="social-team">
                            <img src="Microsoft.jpg" class="img-fluid mx-auto d-block"
                                style="width: 180px; height: 50px;">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="social-team">
                            <img src="oracle.png" class="img-fluid mx-auto d-block "
                                style="width: 180px; height: 50px;">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- our work -->
        <section class="work">
            <div class="container">
                <h1 class="display-4 text-light myfont">Our Work & Certification</h1>
                <p class="text-light">Web designers plan, create and code internet sites and web pages, many of which
                    combine text with sounds, pictures, graphics and video clips. A web designer is responsible for
                    creating the design and layout of a website or web pages !</p>
                <div class="row">
                    <div class="col-md-6">
                        <a href="#">
                            <div class="work-box" style="background-image: url(work1.png);"></div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#">
                            <div class="work-box" style="background-image: url(certificate.jpg);"></div>
                        </a>
                    </div>
                </div>

            </div>
        </section>


        <!-- footer start -->
        <section class="bg-info" style="padding: 50px 0px;">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30703620.672472216!2d64.4139098985941!3d20.050418843029934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1599965154263!5m2!1sen!2sin"
                                width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe>
                        </div>
                        <div class="col-md-4 offset-2">
                            <h2 class="text-center text-light" style="font-family: myfont; font-size: 40px;">Contact Us
                            </h2>
                            <form action="">
                                <input type="text" placeholder="Username.." class="footer-imp">
                                <input type="email" placeholder="example.abc@gmail.com" class="footer-imp">
                                <input type="text" placeholder="Message" class="footer-imp">
                                <input type="text" value="Submit" class="footer-imp text-light text-center">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer start -->
        <section style="background-color: black;">
            <div class="container">
                <span class="text-light" style="font-family: myfont;">$copy; Eram Perwez | All copyrights are
                    Reserved</span>
                <span class="text-light" style="float: right; font-family: myfont;">Term & Conditions</span>
            </div>
        </section>





















        <!-- Optional JavaScript -->
        <script src="js/jquery-3.5.1.slim.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
</body>

</html>
</body>

</html>